body {
    font-family: 'Courier New', sans-serif;
    font-weight: lighter;
    color: #000;
    background-color: #f0eff1;
}

.sidenav {
    height: 100%;
    /*width: 0;*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 5px 20px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    margin-left: 50px;
}

.closebtn:hover {
    text-decoration: none;
}

.open {
    font-size:50px;
    cursor:pointer;
}

.header-wrapper {
    padding-top: 50px;
    padding-bottom: 80px;
}

.header-wrapper,
.images {
    width: 100%;
    background-color: #fff;
}

.list-group {
    float: left;
    margin-right: 50px;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.footer {
    padding-top: 30px;
    padding-bottom: 300px;
}

.logo {
    margin-top: 40px;
    display: block;
}

a:hover {
    text-decoration: underline;
    color: #000;
}

a {
    color: #000;
}

.lang a.active {
    text-decoration: underline;
}

.img-grid a {
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

.img-grid a:hover {
    opacity: 0.7;
}


@media screen and (max-height: 450px) {
  /*.sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}*/
}